# --- CONFIGURATION BASE DE DONNÉES (DOCTRINE) ---
# Connexion principale (MariaDB)
DATABASE_URL="mysql://root:root@database:3306/app_main?serverVersion=mariadb-10.11.15&charset=utf8mb4"

# Connexion pour les logs (MariaDB)
LOG_DATABASE_URL="mysql://root:root@database:3306/app_log?serverVersion=mariadb-10.11.15&charset=utf8mb4"

# Connexion pour l'environnement de test (MariaDB en RAM)
DATABASE_URL_TEST="mysql://root:@database_test:3306/app_test?serverVersion=mariadb-10.11.15"

# --- CONFIGURATION EMAILS (MAILPIT) ---
# Redirige tous les e-mails sortants vers le service de capture local
MAILER_DSN="smtp://mailer:1025"

# .env.local
# Ce fichier écrase les valeurs du .env uniquement sur TON ordinateur

MYSQL_DATABASE=mon_nom_de_db
MYSQL_ROOT_PASSWORD=mon_mot_de_passe_secret_wsl
